{% include head.html %}
{% include cartiglio.html %}

<body>
<div id="containerabout">
<div id="contentabout">
{{content}}
</div>
</div>


<div id="successivo">
  <ul class="listalavori">

    {% for progetto in site.progetti %}
<div class="hover_img">
  <a href="{{ progetto.url }}">{{ progetto.title }}<span><img class="thumbproject" src="{{ progetto.picture }}" alt="image" height="100" /><!-- {{ progetto.description }} --></span></a>
</div>


{% endfor %}
    </ul>
  </div>
  {% include scriptabout.html %}

</body>


