<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-control" content="public">
<html lang="{{ site.lang | default: "en-US" }}">

        {% include head.html %}
        {% include cartiglio.html %}

  <body>

  
    <!--  CONTROLLO DEL TITOLO DELLA PAGINA: POSSIBILE ASSEGNARE CSS PERSONALIZZATO A SECONDA DEL TITOLO DELLA PAGINA IN CUI CI SI TROVA. 
      SCOMMENTANDO SI ATTIVA LA GIF COME BACKGROUND NEL POST "THE WARFARE OF FUNNY PICTURES ON INTERNET"
    
    
      {% if page.title contains 'The Warfare of' %}

    <style>
      body{
        background-attachment: fixed;
background-image: url({{page.backgroundImage}});
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
      }
    </style>
    
    {% endif %} 

  -->

    <div id="aboutmodal">
      <div id="aboutmodalinside">
        {% for page in site.pages %}
        {% if page.layout == 'about' %}
          <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
          <p>{{ page.content }}</p>
          <a href="{{page.allegato1}}" target="_blank"><b>Portfolio.pdf -> download </b></a><br>
          <a href="{{page.allegato2}}" target="_blank"><b>CV personale.pdf ->  download </b></a>
  
        {% endif %}
        {% endfor %}
      </div>
    </div>
 
    <a id="descrizione">
      Metadata
    </a>

    <div class="containerprogetto">

        {% for video in page.videos %}
          <video controls autoplay id="elemento_{{forloop.index}}" class="photo-gallery list-item-progetto immaginesingolaprogetto" alt="{{ image.title}}">
          <source src="{{ video.video }}" type="video/mp4">
          </video>
          {% endfor %}

       <!--    {% for embed in page.embeds %}
          <div draggable="true" class="videoemb">
            <h2 draggable="true">
          {{embed.embed}}
        </h2>

        </div>
          {% endfor %} -->

          {% for picture in page.pictures %}

         
            
      
            <img id="elemento_{{forloop.index}}" class="photo-gallery list-item-progetto immaginesingolaprogetto" src="{{ picture.picture }}" alt="{{ image.title}}"/>
        
          {% endfor %}
          
    </div>


                  <!-- <div id="dragHere">
                  Drag images to make a fully scrollable chaotic composition
                  </div> -->

    <div id="dettagli">
           {{ page.title }}
           {{ page.content }}
   </div>


  <div id="successivo">
    <ul class="listalavori">

      {% for progetto in site.progetti %}

          <div class="hover_img">
            <a href="{{ progetto.url }}">{{ progetto.title }}
              <span>
                 <img class="thumbproject" src="{{ progetto.thumbnail }}" alt="image" height="100" /><!-- {{ progetto.description }} -->
              </span>
          </a>
          </div>
          
      {% endfor %}
      
    </ul>
  </div>

  {% include scriptabout.html %}

</body>


<script>
window.onload = (event) => {
  console.log('The page has fully loaded');
  alert("Drag images to fix the composition. Move them outside the viewport to stick them in a more bigger canvas.");
};
</script> 