{% include head.html %}
{% include cartiglio.html %}

  
  
  <body>

 
    <a id="descrizione">
      Metadata
    </a>

    <div class="containerprogetto">
      <ul id="list_1" class="photo-gallery">
        {% for picture in page.pictures %}
          <li id="elemento_{{forloop.index}}" class="list-item-progetto "><img class="immaginesingolaprogetto" src="{{ picture.picture }}" alt="{{ image.title}}"/></li>
        {% endfor %}
      </ul>

     
    </div>

    <div id="dragHere">
Drag images to make a fully scrollable chaotic composition
    </div>

    <div id="dettagli">
           {{ page.title }}
              {{ page.content }}
      
    
    </div>






  <div id="successivo">
    <ul class="listalavori">

      {% for progetto in site.progetti %}
  <div class="hover_img">
    <a href="{{ progetto.url }}">{{ progetto.title }}<span><img class="thumbproject" src="{{ progetto.thumbnail }}" alt="image" height="100" /><!-- {{ progetto.description }} --></span></a>
  </div>
  
 
{% endfor %}
    </ul>
  </div>

  {% include scriptabout.html %}

</body>